
.site-footer {
  @extend %clearfix;
  padding: $base-spacing 0;
  text-align: center;

  .container {
    padding-top: $base-spacing;
    border-top: $base-border;
  }

  p {
    margin-bottom: 5px;
  }

  .social{
    padding-top: 5px;
    display: flex;
    justify-content: center;
  }
}

.social {
  li {
    display: inline-block;
    margin-right: 12px;

    &:last-child{
      margin-right: 0px;
    }
  }

  a {
    @include transition(color .15s ease-in-out);
    text-decoration: none;

      color: $primary-color;
      opacity: 1;

      &:hover,
      &:focus,
      &:active {
        color: $highlight-color;
      }
    }
  

  .icon {
    font-size: 1.2rem;
  }
}
