
* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

html {
  -webkit-tap-highlight-color: rgba($white-color, 0);
}

body {
  background-color: $base-background-color;
}

.container {
  max-width: $tablet-large-width;
  padding: {
    left: $small-spacing;
    right: $small-spacing;
  };
  margin: {
    left: auto;
    right: auto;
  };
}

.center{
  text-align: center;
}

%clearfix,
.clearfix {
  @include clearfix;
}

.expand-div{
  padding-bottom:$small-spacing;
}
.expandable[expanded="false"]{
  height: 0;
  visibility: hidden;
  opacity: 0;
  @include transition(opacity .15s ease-in);
}
.expandable[expanded="true"] {
  height: auto;
  visibility:visible;
  opacity: 1;
  @include transition(opacity .15s ease-out);
}

.social {
    li {
      display: inline-block;
      margin-right: 12px;
    }

    a {
      @include transition(opacity .15s ease-in-out);
      color: $medium-gray-color;
      text-decoration: none;
        color: $primary-color;

      &:hover,
      &:focus,
      &:active {
        color: $secondary-color;
      }
    }

    .icon{
       font-size: 1.7em;
     }
}

@include media($max-tablet){
    .social {
      li {
        margin-right: 15px;
      }
      .icon{
        font-size: 1.8em;
      }
    }
  }

 p {
     white-space: pre-wrap;
 }
