/* 
 * Foundation Icons v 3.0
 * Made by ZURB 2013 http://zurb.com/playground/foundation-icon-fonts-3
 * MIT License
 * Only selections icons which are in use for this website
 */
$icons-path: '../fonts/';

@font-face {
  font-family: "foundation-icons";
  src: url("#{$icons-path}foundation-icons.eot");
  src: url("#{$icons-path}foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("#{$icons-path}foundation-icons.woff") format("woff"),
       url("#{$icons-path}foundation-icons.ttf") format("truetype"),
       url("#{$icons-path}foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.fi-social-github:before { content: "\f1c9"; }
.fi-social-pinterest:before { content: "\f1d6"; }
.fi-social-reddit:before { content: "\f1d8"; }
.fi-social-google-plus:before { content: "\f1ca"; }
.fi-social-tumblr:before { content: "\f1e3"; }
.fi-social-linkedin:before { content: "\f1d0"; }
.fi-social-facebook:before { content: "\f1c4"; }
.fi-social-twitter:before { content: "\f1e4"; }
.fi-at-sign:before { content: "\f113"; }
