.site-header{
  padding-top: 10px;
  padding-bottom: 5px;
  .site-nav{
    float: right
  }
  .site-title{
    font-size: 20px;
  }

  &.sticky{
    background-color: $primary-color;
    position: fixed;
    width: 100%;

    a{
      color: $white-color;
      border-color: $white-color;
      &:hover{
        color: $secondary-color;
        border-color: $secondary-color;
      }
    }
  }
}


.header-background{
  z-index: -10;
  @include background-gradiant;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
}
