
.post-header {
  margin-bottom: $base-spacing;
  padding: 3em 2em;
}

.post-title,
.post-meta {
  font-weight: $font-weight-light;

  a {
    text-decoration: none;
    color: $primary-color;

    &:hover,
    &:focus,
    &:active {
      color: $secondary-color;

      &:after {
        opacity: 1;
        left: 10px;
      }
    }
  }
} 

.post-meta{
  font-size: 13px;
  font-style: italic;
}

.post-item {
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;

  header{
    margin-bottom: 10px;
  }

  .post-title {
    margin-bottom: 0px;

    .post-link {
      font-size: 23px;  
      @include media($max-tablet){
        font-size: 29px;
      } 
    }
  }
}

  .post-meta {
    opacity: .5;
    font-size: .8rem;
  }

  .pagination{
    text-align:center;
  }


.post{
  padding-top: 40px;
  padding-bottom: $base-spacing;

  .post-title{
    padding-top: $base-spacing;

    .title{
      font-weight: bold;
      font-size: 29px;
    }  
  }
  .post-content{
    padding-top: $base-spacing;
  }
}


 .post-nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: $base-spacing;
  
  @include media($min-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }  

  p{
    margin:0;

  }
  
    .prev, .next{
      max-width: 100%;
      margin-bottom: $small-spacing;

      @include ellipsis();

      @include media($min-tablet) {
        max-width: 48%;
      } 
    }
  }


.post-list{
  padding-bottom: $base-spacing;
}




