.subscribe{
  // width: 100%;
  // border-bottom: 1px solid $medium-white-color;
  // padding-bottom: $base-spacing;
  padding: 0;

	 #mc_embed_signup{
	 	.button{
	 		  background-color: $primary-color;

	 	&:hover,
	    &:focus,
	    &:active {
	      background-color: $secondary-color;
	    }
	 	}
	}
}
