---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

   <div class="post-title container">
    <div class="title">{{ page.title }}</div>
      <div class="post-meta">{{ page.date | date: "%b %-d, %Y" }} &nbsp; | &nbsp; {{ page.content | number_of_words | divided_by:150 }} Min Read &nbsp; | &nbsp; 
       <span class="disqus-comment-count" data-disqus-identifier="{{page.title}}"></span>
      </div>
   </div>

  
  <div class="post-content container" itemprop="articleBody">
    {{ content }}
  </div>

</article>

{% if page.next.url or page.previous.url %} 
  <div class="post-nav container">
    {% if page.next.url %} 
      <a class="prev button_outline" href="{{ page.next.url | prepend: site.baseurl }}"><span>&laquo;&nbsp; Prev: {{ page.next.title }}</span>
    </a>
    {% else %}
      <p></p>
    {% endif %}

    {% if page.previous.url %}  
      <a class="next button_outline" href="{{ page.previous.url | prepend: site.baseurl }}"><span>&raquo;&nbsp; Next: {{ page.previous.title }}</span>
      </a>
    {% else %}
      <p></p>
    {% endif %} 
  </div>
{% endif %} 

{% include share.html %}
{% include subscribe.html %}

{% include comments.html %}


