{% if site.comments %}
<!-- Comments Start -->

  <div class="comments">
  <div id="disqus_thread" class="container"></div> 

<script>
var disqus_config = function () {
    this.page.url = '{{ page.url | prepend:site.baseurl | prepend: site.url }}';
    this.page.identifier = '{{page.title}}';
};

(function() { 
    var d = document, s = d.createElement('script');
    s.src = '//'+'{{ site.disqus_shortname }}'+'.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();


  </script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </div>
<!-- Comments End -->
  {% endif %}
