<script src="{{ "/assets/js/jquery-3.1.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/typed.min.js" | prepend: site.baseurl }}"></script>

  <script type="text/javascript">

  var myQuotes =  new Array();
  {% for line in site.lines %}
    myQuotes.push("{{ line.text }}");
  {% endfor %}

    $(".intro-post-title").typed({
      strings: myQuotes,
      typeSpeed: {{ site.type-speed }},
      backDelay: {{ site.delete-delay }},
      startDelay: {{ site.start-delay }},
      loop: {{ site..loop }},
      loopCount: {{ site.loop-count }},
      cursorChar: "|"
    });

    $(".toggle-button").click(function(){
      if($(this).text() === 'expand'){
        $(this).text('collapse');
        $(this).parent('div').find('.expandable').attr( "expanded", "true" );
      }else{
        $(this).text('expand');
        $(this).parent('div').find('.expandable').attr( "expanded", "false" );
      }
    });
</script>

{% if site.google_analytics %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{site.google_analytics}}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}


{% if site.comments %}
<script id="dsq-count-scr" src="{{site.disqus_shortname | prepend:'//' | append: '.disqus.com/count.js'}}" async></script>
{% endif %}
