<!-- Share Buttons Start -->
<div class='share'>
  <div class="container">
  <ul class="social clearfix">
    {% if site.email-share %}
      <li class="rrssb-email">
        <a href="mailto:?subject={{page.title}}&amp;body={{site.url}}{{site.baseurl}}{{page.url}}" data-proofer-ignore title='email'>
          <i class="icon fi-at-sign"></i>
        </a>
      </li>
    {% endif %}
    {% if site.twitter-share %}
      <li class="rrssb-twitter">
        <a href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}{{page.url}}&amp;text={{page.title}}"
        class="popup">
        <i class="icon fi-social-twitter"></i>
        </a>
      </li>
    {% endif %}
    {% if site.fb-share %}
      <li class="rrssb-facebook">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}{{page.url}}&amp;title={{page.title}}" class="popup">
        <i class="icon fi-social-facebook"></i>
        </a>
      </li>
    {% endif %}
    {% if site.linkedin-share %}
      <li class="rrssb-linkedin">
      <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{site.baseurl}}{{page.url}}" class="popup">
      <i class="icon fi-social-linkedin"></i>
      </a>
      </li>
    {% endif %}
    {% if site.google-plus-share %}
      <li class="rrssb-googleplus">
        <a href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}{{page.url}}" class="popup">
        <i class="icon fi-social-google-plus"></i>
        </a>
      </li>
    {% endif %}
    {% if site.reddit-share %}
      <li class="rrssb-reddit">
        <a href="https://www.reddit.com/submit?url={{site.url}}{{site.baseurl}}{{page.url}}&title={{page.title}}" target="_blank">
         <i class="icon fi-social-reddit"></i>
        </a>
      </li>
    {% endif %}
    {% if site.tumblr-share %}
      <li class="rrssb-tumblr">
        <a href="https://tumblr.com/share/link?url={{site.url}}{{site.baseurl}}{{page.url}}" target="_blank">
        <i class="icon fi-social-tumblr"></i>
        </a>
      </li>
    {% endif %}
    {% if site.pinterest-share %}
      <li class="rrssb-pinterest">
        <a href="https://pinterest.com/pin/create/button/?url={{site.url}}{{site.baseurl}}{{page.url}}" target="_blank">
         <i class="icon fi-social-pinterest"></i>
        </a>
      </li>
    {% endif %}
  </ul>
  </div>
</div>
<!-- Share Buttons End -->
